.nicolas{
    background-color: red;
    color: white;
}
.manuel{
    background-color: gray;
    color: green;
 .dousting {
     background-color: lightblue;
     color: gold;
 }
.daniel{
    background-color: blue;
    color: white;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

